body {
  background-color: black;
}

H1 {color: #916ee9; font-family: andale mono, monospace;}

p {color: #f5c4e0; font-family: andale mono, monospace;}

p2 {color: lavender; font-family: andale mono, monospace;}

p3 {color: rgb(89, 204, 243); font-family: andale mono, monospace;}

p4 {color: rgb(243, 245, 85); font-family: andale mono, monospace;}

i {color: #eb75f3;}



.spacetime {
    height: 50px;
    overflow: hidden;
    width: 525px;
    padding: 10px;
    background: rgb(239, 92, 185);
}

.read {
    height: auto;
    overflow: visible;
}

.spacetime span {
    cursor: crosshair;
    color: rgb(231, 203, 243);
}

#button {
    position: relative ;
    background-color: rgba(248, 159, 189, 0.948);
    border-radius: 50px;
    color: rgb(241, 0, 0);
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: crosshair;
}

#button:hover {
    background-color: #f17bc6;
    color: rgb(134, 4, 127)
}

#thinking {
    color: pink; 
    font-family: brush script mt, monospace;
    font-size: 30px
}
