body {
  background-color: black;
}

H1 {color: #916ee9; font-family: andale mono, monospace;}

p {color: #f5c4e0; font-family: andale mono, monospace;}

p2 {color: lavender; font-family: andale mono, monospace;}

p3 {color: rgb(89, 204, 243); font-family: andale mono, monospace;}

p4 {color: rgb(243, 245, 85); font-family: andale mono, monospace;}

i {color: #eb75f3;}

b {color: #f11c26;}

.high1  {background: rgb(231, 192, 255);}

.spacetime {
display: flex;
flex-direction: row;
gap: 100px;
}



#button {
    position: relative ;
    background-color: rgba(248, 159, 189, 0.948);
    border-radius: 50px;
    color: rgb(241, 0, 0);
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: crosshair;
}

#button:hover {
    background-color: #f17bc6;
    color: rgb(134, 4, 127)
}

#thinking {
    color: pink; 
    font-family: brush script mt, monospace;
    font-size: 30px
}
