body {
  background-color: black;
}

H1 {color: #916ee9; font-family: andale mono, monospace;}

p {color: #f5c4e0; font-family: andale mono, monospace;}

p2 {color: lavender; font-family: andale mono, monospace;}

p3 {color: rgb(89, 204, 243); font-family: andale mono, monospace;}

p4 {color: rgb(243, 245, 85); font-family: andale mono, monospace;}

i {color: #eb75f3;}



.spacetime {
    height: 50px;
    overflow: hidden;
    width: 525px;
    padding: 10px;
    background: rgb(239, 92, 185);
}

.examples {
    height: auto;
    overflow: visible;
}

.spacetime span {
    cursor: crosshair;
    color: rgb(231, 203, 243);
}

.blinking {
    margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
